<html>
    include header_semantic.pug

    <body>
        div(class="container-fluid text-center")
            include top.pug
            div(class="container")
                form(class="ui form"  action='/report' method="post" enctype="application/x-www-form-urlencoded")
                    h2= "Mail"
                    div(class="field")
                        <br/>
                        label(for="email")= "Email"
                        input(type="email" placeholder="Email" id="email" name="email")
                        label(for="token")= "Token"
                        input(type="text" placeholder="Token" id="token" name="token")
                        <br/><br/>
                    button(class="btn" id="mail_bottom" value="submit" style="background-color:blue;color: white;margin-bottom:1vh")= "Search"
                    hr

                div(class="text-left" style="padding-bottom:30vh")
                    -if(mails.length==0 && flag==0)
                        h4(style="color:red")= "Email or Token Doesn't match"
                    -else
                        each r in mails
                            -console.log(r._id)
                            a(href="/mail/"+r._id target="_blank")
                                h3= r.name

        <script src="../pathology.js"></script>
        include footer.pug
